<mat-grid-list [cols]="breakpoint" rowHeight="3:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Overdue Rentals</mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Rentals Coming Due</mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Current Rentals.</mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Home works wicked good!</mat-card-title>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>